.calculator {
    height: 650px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgb(128, 122, 122);
    background-color: rgb(217, 226, 234);
    margin-left: auto;
    margin-right: auto;
}

.black-screen {
    height: 180px;
    width: 350px;
    background-color: black;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 60px;
    margin: 20px;
    box-shadow: 3px 3px 6px 3px rgb(241, 208, 208);
    color: white;
    text-align: center;
}

.button-home {
    display: flex;
    justify-content: space-between;
}

.btn-home-cal {
    height: 40px;
    width: 60px;
    border: 2px solid grey;
    border-radius: 50%;
    margin: 8px;
    font-size: 17px;
    font-style: italic;
    box-shadow: 4px 4px 8px 4px darkgray;
}

.btn-home-cal:hover{
    background-color: #cc6699;
    border-radius: 10px;
    transform: 3s;
}

.design {
    height: 50px;
    width: 500px;
    font-size: 30px;
}

.cal-b {
    background-color: orange;
    margin-left: 22px;
}

.img-home {
    height: 25px;
    width: 35px;
    padding: 5px;
    display: block;
}